



/* ==========================================================================
Header
========================================================================== */

body {
	background-color: #eaeff9;
	color: #555;
	margin: 0;
}

a {
	text-decoration: none;
}

#header-image {
	width: 100%;
	box-shadow: 0px 1px 5px #cccccc;
}



/* ==========================================================================
Create Survey Section
========================================================================== */

#create-survey {
	max-width: 700px;
	margin: 0 auto;
	margin-top: 20px;
	background-color: #fcfcfd;
	padding-top: 20px;
	padding-bottom: 35px;
	padding-left: 60px;
	padding-right: 60px;
	border-top: 10px solid #54937c;
	box-shadow: -2px -2px 10px #AAAAAA;
}

#create-survey-title {
	font-family: 'SF-UI-Display', sans-serif;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0.4px;
	font-size: 30px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 3px solid #54937c;
}

#create-survey-instructions {
	font-family: 'SF-UI-Text', sans-serif;
	font-weight: 200;
	font-style: normal;
	margin-top: 15px;
	margin-bottom: 30px;
}


input[type=submit] {

}

input[type=submit]:hover {
	transition: 0.2s;
	background-color: #4d8571;
}




.question {
	margin-top: 5px;
	margin-bottom: 18px;
}

.question-title {
	font-family: 'SF-UI-Text', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
	margin-bottom: 5px;	
}

#submitbutton {
	margin-top: 30px;
	border-radius: 5px;
    border: 0;
    width: 80px;
    height:25px;
    font-family: 'SF-UI-Text', sans-serif;
	font-weight: 500;
	color: #fcfcfd;
	letter-spacing: 0.7px;
	background-color: #54937c;
	box-shadow: -0.5px 0.5px 4px #AAAAAA;
}

#submitbutton:hover {
	transition: 0.2s;
	background-color: #4d8571;
}

.clearfix {
	clear: both;
}


input[type=text] {
	padding: 10px;
  	border: none;
  	border-bottom: solid 1px #c9c9c9;
  	transition: border-bottom 1s;
  	width: 300px;
  	background-color: transparent;
  	font-family: 'SF-UI-Text', sans-serif;
	font-weight: 500;
  	font-size: 16px;
  	color: #333;
}

input[type=text]:focus {
	outline: none;
  	border-bottom: solid 2px #7080c2;
  	line-height: 2em;
  	transition: border-width 0.7s ease-in-out;
  	transition: line-height 0.7s ease-in-out;
}

input[type=email] {
	padding: 10px;
  	border: none;
  	border-bottom: solid 1px #c9c9c9;
  	transition: border-bottom 1s;
  	width: 300px;
  	background-color: transparent;
  	font-family: 'SF-UI-Text', sans-serif;
	font-weight: 500;
  	font-size: 16px;
  	color: #333;
}

input[type=email]:focus {
	outline: none;
  	border-bottom: solid 2px #7080c2;
  	line-height: 2em;
  	transition: border-width 0.7s ease-in-out;
  	transition: line-height 0.7s ease-in-out;
}
